main > *, #page-core {
    min-width: 0; /** not auto */
}

@media (min-width: 768px) {

    #page-core {
        display: grid;
        gap: 1.5rem;
        grid-template-areas: "page-side page-main";
        grid-template-columns: minmax(min-content,1fr) 3fr;
    }

    #page-side {
        grid-area: page-side;
    }

    #page-main {
        grid-area: page-main;
    }

}


