.blockquote { font-size: 1.03rem; }
.blockquote-footer { font-size: 95%; }
/* p and ul have a default bottom margin via the default browser stylesheet that makes the content not in the middle */
.blockquote-cs p:last-child { margin-bottom: 0; }
.blockquote-cs ul:last-child { margin-bottom: 0; }
/* no margin after a blockquote */
.blockquote-cs { margin-bottom: 1rem; }
