# additional requirements for this plugin: https://github.com/splitbrain/dokuwiki-travis
https://github.com/ComboStrap/dokuwiki-template-strap   lib/tpl/strap
https://github.com/cosmocode/sqlite.git   lib/plugins/sqlite
https://github.com/michitux/dokuwiki-plugin-move   lib/plugins/move
