


.blockquote {
    font-size: 1.03rem;
}

.blockquote-footer {
    font-size: 95%;
}

button.btn-primary a.wikilink1 {
    color: #fff;
}

button.btn-primary a.urlextern {
    color: #fff;
}

/**
	MathJax becomes mobile and will not overflow
**/
.MJXc-display, .mjx-chtml {
    overflow-y: hidden;
    max-width: 100%;
    overflow-x: auto;
}

/*Message*/
.combo-message > .signature {
    font-size: 95%;
    clear: both;
    bottom: 5px;
    right: 15px;
    position: absolute;
    font-style: italic;
}

/** Bootstrap bug on version 4.5.0 */
.badge-pill {
    border-radius: 10rem;
}

/** Bootstrap has a margin bottom that is not welcome in a card **/
.card > table {
    margin-bottom: 0;
}

