
main > *, #page-core {
    min-width: 0; /** not auto */
}

@media (min-width: 768px) {

    #page-core {
        display: grid;
        gap: 1.5rem;
        grid-template-areas: "page-side page-main";
        grid-template-columns: 1fr 3fr;
    }

    #page-side {
        grid-area: page-side;
    }

    #page-main {
        grid-area: page-main;
    }

}


@media (min-width: 992px) {

    #page-core {
        grid-template-columns: 1fr 5fr;
    }

    main {
        grid-area: page-main;
        display: grid;
        grid-template-columns: [main] 5fr [side] auto;
        grid-auto-flow: row dense;
        gap: 1rem;
        padding: 1rem;
        grid-template-areas: unset;

    }

    #main-toc {
        grid-column: side;
        grid-row: 1 / span 5;
    }

    #main-header {
        grid-column: span 2;
    }

    #main-content {
        grid-column: main;
    }

    #main-footer {
        grid-column: main;
    }

    #main-side {
        grid-area: unset;
    }

}
