<html lang="en">
<head>
    <title>Holy</title>
</head>
<body>
<header id="page-header" class="d-print-none"></header>
<div id="page-core" data-layout-container>
    <aside id="page-side" class="d-print-none"></aside>
    <main id="page-main">
        <header id="main-header"></header>
        <div id="main-toc"></div>
        <div id="main-content"></div>
        <div id="main-side" class="d-print-none"></div>
        <footer id="main-footer" class="d-print-none"></footer>
    </main>
    <div id="page-tool"></div>
</div>
<footer id="page-footer" class="d-print-none"></footer>
</body>
</html>

