<html lang="en">
<head>
    <title>Index</title>
</head>
<body>
<header id="page-header" class="d-print-none"></header>

<div id="page-core" class="d-flex justify-content-md-center" data-layout-container>
    <div class="row">
        <aside id="page-side" class="col-md-3 order-last order-md-first"></aside>
        <main id="page-main" class="col-md-9 order-first">
            <div id="main-content"></div>
        </main>
    </div>
    <div id="page-tool" class="d-print-none"></div>
</div>

<footer id="page-footer" class="d-print-none"></footer>
</body>
</html>
