<!doctype html>
<html lang="{{lang}}">
{{> head-partial }}
<body>
{{>page-header-partial}}
<div id="page-core">
    <main id="main-content"></main>
    <div id="page-tool" class="d-print-none"></div>
</div>
{{>page-footer-partial}}
{{>body-beforeend-partial}}
</body>
</html>
