<html lang="{{lang}}">
{{> head-partial }}
<body class="{{body-classes}}">
{{> page-header-partial }}
<div id="page-core" class="{{ layout-container-class }}">
    <aside id="page-side" class="d-print-none"></aside>
    <main id="page-main">
        <header id="main-header"></header>
        {{> toc-partial}}
        <div id="main-content">
            {{{ main-content-html }}}
        </div>
        <div id="main-side" class="d-print-none"></div>
        <footer id="main-footer" class="d-print-none"></footer>
    </main>
    <div id="page-tool" class="d-print-none"></div>
</div>
{{>page-footer-partial}}
{{>body-beforeend-partial}}
</body>
</html>

