<!doctype html>
<html lang="{{lang}}">
{{> head-partial }}
<body>
{{>page-header-partial}}

<div id="page-core" class="d-flex justify-content-md-center" data-layout-container>
    <div class="row">
        <aside id="page-side" class="col-md-3 order-last order-md-first"></aside>
        <main id="page-main" class="col-md-9 order-first">
            <div id="main-content">
                {{{ main-content-html }}}
            </div>
        </main>
    </div>
    <div id="page-tool" class="d-print-none"></div>
</div>

{{>page-footer-partial}}
{{>body-beforeend-partial}}
</body>
</html>
