<!doctype html>
<html lang="{{lang}}">
{{> head-partial }}
<body class="{{body-classes}}">
{{>page-header-partial}}
<div id="page-core">
    <main id="main-content">
        {{{ main-content-html }}}
    </main>
    <div id="page-tool" class="d-print-none">
        {{#railbar "off-canvas"}}{{/railbar}}
    </div>
</div>
{{>page-footer-partial}}
{{>body-beforeend-partial}}
</body>
</html>
