.breadcrumb-typography-item+.breadcrumb-typography-item::before {
    padding-left: .5rem;
    padding-right: .5rem;
    color: #6c757d;
    /*noinspection CssUnresolvedCustomProperty*/
    content: var(--bs-breadcrumb-divider, "/");
}
