.nicon_home {
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="17.344" height="16.679"><path d="M17.344 8.43h-3.039v7.25c0 .444-.194 1-1 1H4.04c-.806 0-.968-.557-1-1V8.43H0C1.563 6.865 5.877 2.398 7.964.311 8.159.11 8.415.01 8.672 0c.257.01.513.109.708.312 2.152 2.152 6.55 6.703 7.964 8.117z" style="font-variant-east_asian:normal" fill="rgb(62,153,239)"/></svg>');
    display: inline-block;
    width: 1.6em;
    height: 1.5em;
    content: "";
    background-size: 100% 100%;
}


span.breadcrumb.rplus li a.navlink {
    vertical-align: middle;
    height: 1.5em;
    display: table-cell;
    font-size: 1.2em;
    color: #0056b3;
    padding-left: 0.5em
}


#breadcrumb {
    display: flex;
    font-size: 0.75rem;
    color: #676464 !important;
    /*This will clip the left side in mobile device
    in order to have a fix height on the top bar*/
    /* overflow: hidden; /* Not working */
    /* height: 23px; /* The fix height does the trick as all element goes to the second line */
}

#breadcrumb ol {
    background-color: unset;
}

#breadcrumb a {
    color: #676464 !important;
    z-index: 10 !important;
}

#breadCrumbTitle {
    white-space: pre;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}
