@media (max-width:576px) {

    .hero-sm {
        padding: 1rem 1rem
    }

    .hero-md {
        padding: 2rem 1rem;
    }

    .hero-xl {
        padding: 4rem 1rem;
    }

    .hero-lg {
        padding: 3rem 1rem;
    }

}

@media (min-width: 576px) {

    .hero-sm {
        padding: 1rem 1rem
    }

    .hero-md {
        padding: 2rem 1rem;
    }

    .hero-lg {
        padding: 3rem 1rem;
    }

    .hero-xl {
        padding: 4rem 1rem;
    }

}

@media (min-width: 768px) {

    .hero-sm {
        padding: 1rem 2rem
    }

    .hero-md {
        padding: 2rem 4rem;
    }

    .hero-lg {
        padding: 3rem 6rem;
    }

    .hero-xl {
        padding: 4rem 8rem;
    }

}
