
.combo-hover-float:hover {
    transform: translateY(-3px) !important;
    transition: all .2s ease;
}

.combo-hover-grow:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: all .2s ease;
}
