form.page-edit-combo {
    position: absolute;
    bottom: 0;
    right: 0;
}
form.page-edit-combo button, form.btn_secedit button {
    background: none;
    border: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
}
form.page-edit-combo svg {
    color: rgba(0,0,0,0.35)
}
form.btn_secedit {
    font-size: initial!important;
    position:relative; /* for z-index */
    z-index:10;
}
form.btn_secedit button {
    background-position-x: center; /** best effort not really centered with the page-edit-combo **/
    color: transparent; /** just hide the text **/
}
form.btn_secedit button, form.page-edit-combo button {
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' fill='rgba(0,0,0,0.35)' viewBox='0 0 36 36'%3E%3Cpath d='M28 30H6V8h13.22l2-2H6a2 2 0 0 0-2 2v22a2 2 0 0 0 2 2h22a2 2 0 0 0 2-2V15l-2 2z'/%3E%3Cpath d='m33.53 5.84-3.37-3.37a1.61 1.61 0 0 0-2.28 0L14.17 16.26l-1.11 4.81A1.61 1.61 0 0 0 14.63 23a1.69 1.69 0 0 0 .37 0l4.85-1.07L33.53 8.12a1.61 1.61 0 0 0 0-2.28zM18.81 20.08l-3.66.81.85-3.63L26.32 6.87l2.82 2.82zM30.27 8.56l-2.82-2.82L29 4.16 31.84 7z'/%3E%3C/svg%3E%0A");
}
