form.page-edit-combo {
    position: absolute;
    bottom: 0;
    right: 0;
}
form.page-edit-combo button {
    background: none;
    border: 0

}
form.page-edit-combo svg {
    fill: rgba(0,0,0,0.35)
}
