.page-explorer-list-combo svg, .page-explorer-list-combo img {
    vertical-align: bottom;
    color: rgba(0, 0, 0, 0.65);
}
.page-explorer-list-combo a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.65);
}
.page-explorer-list-home-combo {
    border-bottom: 1px solid #e5e5e5;
    /*noinspection CssUnresolvedCustomProperty*/
    background-color: var(--bs-light)
}
