
.slice {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.slice-xl {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.slice-lg {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.slice-sm {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.bg-slice-light {
    background-color: #e0e6ed;
}

.bg-slice-dark {
    background-color: #1a232d;
}

.bg-slice-primary {
    background-color: #fff;
}

.bg-slice-secondary {
    background-color: #fafbfe;
}



