@media (max-width: 1200px) {
    .display-1 {
        font-size: calc(1.5rem + 9vw);
    }
    .display-2 {
        font-size: calc(1.4rem + 8.5vw);
    }
    .display-3 {
        font-size: calc(1.3rem + 8vw);
    }
    .display-4 {
        font-size: calc(1.2rem + 7.5vw);
    }
}





