.toc-cs ul {
    list-style: none;
}
.toc-cs > ul {
    padding-left: 0;
}

.toc-cs li {
    margin-bottom: 0.25rem;
    padding-left: initial;
}

.toc-cs a:not(:hover) {
    text-decoration: none;
}

.toc-cs .toc-header-cs {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    font-size: 1rem;
    font-weight: 500;
}
